html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

[data-nextjs-devtools-button],
[data-next-badge-root],
[data-next-badge] {
  display: none !important;
}

button[data-nextjs-devtools-button] {
  display: none !important;
  background: red !important;
}